{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lost Ark Checklist</title>
    <link rel="stylesheet" href="{% static 'lost_ark_checklist/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'lost_ark_checklist/style.css' %}">
  </head>
  <body>


    <h1>This is the start of the lost ark checklist</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr class="row">
                            <th class="col-8">Roster Dailies</th>
                            <td class="col-4">Buttons</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for daily in roster_dailies %}
                        <tr class="row">
                            <td class="col-10 text-left"><img class="task-icon" src="../static/lost_ark_checklist/img/{{ daily.img_name }}">{{ daily.name }}</td>
                            <td class="col-2 text-center"><input type="checkbox" class="larger" value="{{ daily.completed }}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="col-3">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr class="row">
                            <th class="col-8">{{ char }}</th>
                            <td class="col-4">Buttons</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for weekly in roster_weeklies %}
                        <tr class="row">
                            <td class="col-10 text-left"><img class="task-icon" src="../static/lost_ark_checklist/img/{{ weekly.img_name }}">{{ weekly.name }}</td>
                            <td class="col-2 text-center"><input type="checkbox" class="larger" value="{{ weekly.completed }}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
    {% for char, checklist in char_checklist.items %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr class="row">
                            <th class="col-8">{{ char }}</th>
                            <td class="col-4">Buttons</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for daily in checklist.0 %}
                        <tr class="row">
                            <td class="col-10 text-left"><img class="task-icon" src="../static/lost_ark_checklist/img/{{ daily.img_name }}">{{ daily.name }}</td>
                            <td class="col-2 text-center"><input type="checkbox" class="larger" value="{{ daily.completed }}" name="checkbox{{ daily.id }}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="col-3">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr class="row">
                            <th class="col-8">{{ char }}</th>
                            <td class="col-4">Buttons</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for weekly in checklist.1 %}
                        <tr class="row">
                            <td class="col-10 text-left"><img class="task-icon" src="../static/lost_ark_checklist/img/{{ weekly.img_name }}">{{ weekly.name }}</td>
                            <td class="col-2 text-center"><input type="checkbox" class="larger" value="{{ weekly.completed }}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}

    
	<!-- <script src="index.js"></script> -->
  </body>
</html>