{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lost Ark Checklist</title>
    <link rel="stylesheet" href="{% static 'lost_ark_checklist/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'lost_ark_checklist/style.css' %}">
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Checklist</a>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <a class="navbar-brand">Navbar</a>
        </div>
        <form class="form-inline" action="add" method="POST"> {% csrf_token %}
            <div class="input-group">
                <input class="form-control mr-sm-2" name="char_name" placeholder="Add Character" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="submit-add-char-form">+</button>
            </div>
        </form>
    </nav>

    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <table class="table table-dark table-striped table-hover">
                        <thead>
                            <tr class="row">
                                <th class="col-8">Roster Dailies</th>
                                <td class="col-4">Buttons</td>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="" method="POST"> {% csrf_token %}
                            {% for daily in roster_dailies %}
                                <tr class="row">
                                    <td class="col-10 text-left">
                                        {% if daily.img_name %}
                                            <img class="task-icon" src="../static/lost_ark_checklist/img/{{ daily.img_name }}">
                                        {% else %}
                                            <img class="task-icon" src="../static/lost_ark_checklist/img/mokoko.png">
                                        {% endif %}
                                        
                                        {{ daily.name }}
                                    </td>
                                    <td class="col-2 text-center">
                                        {% if daily.completed %}
                                            <input type="checkbox" class="larger" checked onclick="assignmentFinish(this, 'RosterDaily', '{{ daily.name }}', '{{ daily.user.id }}')">
                                        {% else %}
                                            <input type="checkbox" class="larger" onclick="assignmentFinish(this, 'RosterDaily', '{{ daily.name }}', '{{ daily.user.id }}')">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </form>
                        </tbody>
                    </table>
                </div>
                
                <div class="col-md-6 col-lg-4">
                    <table class="table table-dark table-striped table-hover">
                        <thead>
                            <tr class="row">
                                <th class="col-8">Roster Weeklies</th>
                                <td class="col-4">Buttons</td>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="" method="POST"> {% csrf_token %}
                            {% for weekly in roster_weeklies %}
                                <tr class="row">
                                    <td class="col-10 text-left">
                                        {% if weekly.img_name %}
                                            <img class="task-icon" src="../static/lost_ark_checklist/img/{{ weekly.img_name }}">
                                        {% else %}
                                            <img class="task-icon" src="../static/lost_ark_checklist/img/mokoko.png">
                                        {% endif %}
                                        
                                        {{ weekly.name }}
                                    </td>
                                    <td class="col-2 text-center">
                                        {% if weekly.completed %}
                                            <input type="checkbox" class="larger" checked onclick="assignmentFinish(this, 'RosterWeekly', '{{ weekly.name }}', '{{ weekly.user.id }}')">
                                        {% else %}
                                            <input type="checkbox" class="larger" onclick="assignmentFinish(this, 'RosterWeekly', '{{ weekly.name }}', '{{ weekly.user.id }}')">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="container">
        {% for char, checklist in char_checklist.items %}
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <table class="table table-dark table-striped table-hover">
                        <thead>
                            <tr class="row">
                                <th class="col-8">{{ char }}</th>
                                <td class="col-4">Buttons</td>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="" method="POST"> {% csrf_token %}
                            {% for daily in checklist.0 %}
                                {% if daily.completed %}
                                    <tr class="row">
                                {% else %}
                                    <tr class="row">
                                {% endif %}
                                    <td class="col-10 text-left">
                                        {% if daily.img_name %}
                                            <img class="task-icon" src="../static/lost_ark_checklist/img/{{ daily.img_name }}">
                                        {% else %}
                                            <img class="task-icon" src="../static/lost_ark_checklist/img/mokoko.png">
                                        {% endif %}
                                        
                                        {{ daily.name }}
                                    </td>
                                    <td class="col-2 text-center">
                                        {% if daily.completed %}
                                            <input type="checkbox" class="larger" checked onclick="assignmentFinish(this, 'CharDaily', '{{ daily.name }}', '{{ daily.char.id }}')">
                                        {% else %}
                                            <input type="checkbox" class="larger" onclick="assignmentFinish(this, 'CharDaily', '{{ daily.name }}', '{{ daily.char.id }}')">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </form>
                        </tbody>
                    </table>
                </div>
                
                <div class="col-md-6 col-lg-4">
                    <table class="table table-dark table-striped table-hover">
                        <thead>
                            <tr class="row">
                                <th class="col-8">{{ char }}</th>
                                <td class="col-4">Buttons</td>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="" method="POST"> {% csrf_token %}
                            {% for weekly in checklist.1 %}
                                <tr class="row">
                                    <td class="col-10 text-left">
                                        {% if weekly.img_name %}
                                            <img class="task-icon" src="../static/lost_ark_checklist/img/{{ weekly.img_name }}">
                                        {% else %}
                                            <img class="task-icon" src="../static/lost_ark_checklist/img/mokoko.png">
                                        {% endif %}
                                        
                                        {{ weekly.name }}
                                    </td>
                                    <td class="col-2 text-center">
                                        {% if weekly.completed %}
                                            <input type="checkbox" class="larger" checked onclick="assignmentFinish(this, 'CharWeekly', '{{ weekly.name }}', '{{ weekly.char.id }}')">
                                        {% else %}
                                            <input type="checkbox" class="larger" onclick="assignmentFinish(this, 'CharWeekly', '{{ weekly.name }}', '{{ weekly.char.id }}')">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    
        

    
    <script src="{% static 'lost_ark_checklist/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'lost_ark_checklist/main.js' %}"></script>
  </body>
</html>