.row-checkbox {
    width: 12.5%;
    flex: 0 0 12.5%;
    min-width: 12.5%;
    max-width: 12.5%;
}

.row-name {
    width: 87.5%;
    flex: 0 0 87.5%;
    min-width: 87.5%;
    max-width: 87.5%;
}

.row{
    margin-left: auto;
    margin-right: auto;
}

body {
    background: #050206;
    color: #e9e9e9;
}

.table-dark {
    --bs-table-color: #e9e9e9;
    --bs-table-striped-color: #e9e9e9;
}

input.larger {
    width: 18px;
    height: 18px;
}

.completed {
    --bs-table-accent-bg: rgba(30, 72, 52, 0.5) !important;
}

img.task-icon {
    margin-right: 5px;
}